.features {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
}
.left {
  padding: 0 5% 0 0;
  flex:1;
  img {
    height: 100%;
    width: auto;
    background-size: cover;
  }
}
.right {
  padding: 0 10% 0 5%;
  flex:1;

  p {
    color: $p-color;
    line-height: 1.5em;
  }
}
