.footer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
}

.footer-menu {


    li{
        display:inline-block;
        margin-right: 5px;
    }
}