.footer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    color:$f-color;
    opacity: .8;
}

.footer-menu {


    li{
        display:inline-block;
        margin-right: 5px;
    }
}