.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
   margin:20px 10%;
   
}
.logo{
    width: 100%;
}
.menu{
    position:relative;
    flex:1;

    .strip{
        height: 5px;
        width: 40px;
        background: white;
        position:absolute;
        top:0;
        left:0;
    &::before{
        content: " ";
        position:absolute;
        top:10px;
        left:0;
        height: 5px;
        width: 40px;
        background: white;
    }
    &::after{
        content: " ";
        position:absolute;
        top:20px;
        left:0;
        height: 5px;
        width: 40px;
        background: white;
    }

    }
}