.third-features {
  display: flex;
  padding: 5% 0 0 5%;
  margin-bottom: 11%;
  margin-top: 5%;
}
.fea-left {
  margin-right: 30px;
  flex: 1.4;
  p {
    opacity: 0.4;
  }
}

.fea-right {
  flex: 2;
  img {
    width: 100%;
    height: auto;
  }
}
